<?xml version="1.0" encoding="utf-8"?>
<Project ToolsVersion="4.0" xmlns="http://schemas.microsoft.com/developer/msbuild/2003">
  <PropertyGroup>
    <WebPublishMethod>ZipDeploy</WebPublishMethod>
    <LastUsedBuildConfiguration>Release</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <ResourceId>/subscriptions/bee507f6-2719-4a44-a7d7-eee8389721f4/resourceGroups/azure-kurs-rg/providers/Microsoft.Web/sites/azure-kurs-meine-zweite-webapp</ResourceId>
    <ResourceGroup>azure-kurs-rg</ResourceGroup>
    <PublishProvider>AzureWebSite</PublishProvider>
    <PublishUrl>https://azure-kurs-meine-zweite-webapp.scm.azurewebsites.net/</PublishUrl>
    <SiteUrlToLaunchAfterPublish>https://azure-kurs-meine-zweite-webapp.azurewebsites.net</SiteUrlToLaunchAfterPublish>
    <LaunchSiteAfterPublish>True</LaunchSiteAfterPublish>
    <UserName>$azure-kurs-meine-zweite-webapp</UserName>
    <_SavePWD>True</_SavePWD>
  </PropertyGroup>
</Project>